.box {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover {
  cursor: pointer;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
