.wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}
.wrapper * {
  box-sizing: border-box;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
